.card-div {
  display: inline-block;
  padding: 5px;

  nz-card:hover {
    cursor: auto;
  }
}

.title a {
  color: black;

  &:hover {
    color: #d68989;
  }
}

.store-name a {
  color: #888;

  &:hover {
    color: #c99b9b;
  }
}
